body{
    background-color:floralwhite;
}

.title{
    text-align: center;
    font-size: 80px;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid{
    display: flex;
    width: 500px;
    height: 500px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

